# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project files
.idea

#Tex files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.pdf
*.bbl
*.blg
*.lof

#Test directories
tests/diffs
tests/errors
tests/results
